* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

main {
    background-color: white;
    font-family: "Work Sans", sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    
    
    
    
}

header {
    display: flex;
    justify-content: space-between;

}

nav {
    padding-top: 15px;
    
}

nav ul li {
    display: inline;
    padding: 10px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    
}


nav a:hover {
    border-bottom: 1px solid black;
}

nav a:visited {
    color: black;

}

#about {
    display: flex;
    
    justify-content: space-around;
    align-content: flex-end;
    background-color: beige;
    font-size: 1.2rem;
}


#about div {
    text-align: center;
    padding: 80px;
}

#projects {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.2rem;
}
#projects h2, dl {
    padding-left: 20px;
}


#projects dl dd {
    display: none;
}

#skills {
    background-color: beige;

}

#skills h2 {
    padding-top: 20px;
    padding-left: 20px;

}

#skills li {
    list-style: none;
    display: inline-block;

}

figcaption {
    text-align: left;
}

dt a { 
    text-decoration: none;
    
}

dt a:visited {
    color: black;
}

dt {
    font-weight: bold;

}

#social li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    
}

#contact {
    background-color: beige;
    padding: 50px;
    position: relative;
    top: 50px;
}






@media only screen and (max-width: 800px) {
    #about {
        flex-wrap: wrap;
    }

    h1 {
        text-align: center;
    }

    #projects {
        text-align: center;
    }

    nav ul li {
        text-align: center;
    }


}

@media only screen and (max-width: 600px) {

    header {
        flex-wrap: wrap;
    }
    
    h1 {
        text-align: center;
        margin: auto;
    }

    #projects {
        text-align: center;
    }
    #about img {
        display: none;
    }

    nav ul li {

        padding: 5px;
    }
}



